
.login-box{
margin-top:120px;}
.logo_login{
margin:auto auto;
display:block;
}
.inner-login-box{
border: 6px solid #feff00;
padding:20px;
}
.login-header{
text-align:center;
text-transform:uppercase;
margin:17px 0px;
color:#592681;}
.inner-login-box{
padding:40px 50px;}
.inner-login-box input{
margin-bottom:20px;}
.school-btn-dark{
    background: #592581;
    color: #fff;
    border: none!important;
    padding: 6px 20px!important;}
	.sidebar{
	background:#29004c;

	padding:20px 0px;
	padding-left:0px!important;
	padding-right:0px!important;
	   min-height:100%!important;}
	.sidebar ul li{list-style: none;
	padding:10px 20px;background: #381963;
    margin: 5px;color:#fff;text-transform:uppercase;}
		.sidebar ul li a{color:#fff;text-transform:uppercase; font-size: 14px;
    letter-spacing: 1px;}
    .menu-icon{margin-right:5px;}
		.sidebar ul li a:hover{text-decoration:none;}
		.sidebar ul li:hover{background: #613788;text-decoration:none;}
	.sidebar ul{padding-left:0px;margin-top:50px;}
	.main{
	background:#f8f9fa;
	padding-left:0px!important;
	padding-right:0px!important;
        min-height: 100vh!important;
	}
	.header-jumbo{background-color: #fdfdfd!important;
    border-radius: 0px!important;
    margin: 1rem!important;}
	.jumbotron-heading{color:#2b134c;text-transform: uppercase;
    letter-spacing: 3px;}
    div#error_message{
    font-size: 15px;
    text-align: center;
}
    button.btn_dark_bg{
        background: #2b134c;
        padding: 8px 20px;
        color: #fff;
        margin-top: 8px;
    }
    button.btn_dark_bg:focus{border-color:#fff;}
    .btn_tabel{display: inline-block;
    background: none;
    margin-right: 5px;
    padding: 4px 15px;}
    .content{margin: 1rem!important;
    padding: 2rem 3rem;
    background: #fdfdfd;}
    .left_box{float:left;}
    .dashoard_box{    padding: 20px 30px;;
    background: #e1e4e6;
    color: #fdfdfd;
    border-radius: 40px;}


    .widget {

        position: relative;
        background: none;
        color: #5b5b5b;
        margin-bottom: 20px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }

    .widget-header,
    .widget-content {
      display: block;
      width: 100%;
      clear: both;
    }
.formulier-titels{
    font-weight: 200;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

     /* Dropdown Button */
    .dropbtn {
        background-color: #2b134c;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;

    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #2b134c;}
    @media (min-width: 576px){
    .jumbotron {
        padding: 2rem 1rem!important;
    }}



